<!DOCTYPE html>
<html ng-app="myApp" style="height: 100%">

<head>
  <script src="/static/node_modules/angular/angular.min.js"></script>
  <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.css" />
  <script src="/static/Controller.js"></script>
</head>



<body style="height: 100%">
<div ng-controller="OutletController" style="height: 100%">
  <div style="height: 100%">
    <table class="table table-hover" style="height: 100%">
      <tbody style="height: 100%">
        <tr ng-repeat="item in outlets">
          <td class="vert-align">
              <button class="btn btn-success btn-block" style="font-size: 60px; display: block; height: 100%" type="button" ng-bind="item.name + ' på'" ng-click="pressButton(item.groupNumber,item.buttonNumber,'on')"></button>
          </td>
          <td class="vert-align">
              <button class="btn btn-warning btn-block" style="font-size: 60px; display: block; height: 100%" type="button" ng-bind="item.name + ' av'" ng-click="pressButton(item.groupNumber,item.buttonNumber,'off')"></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</body>

</html>
