<!DOCTYPE html>
<html ng-app="myApp" style="height: 100%">

<head>
  <script data-require="angular.js@1.4.8" data-semver="1.4.8" src="https://code.angularjs.org/1.4.8/angular.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.css" />
  <script src="/static/Controller.js"></script>
  <link rel="stylesheet" href="/static/style.css" />
</head>

<body style="height: 100%">
<div ng-controller="OutletController" style="height: 100%">
  <div>
    <h1 ng-bind="header"></h1>
  </div>
  <div style="height: 100%">
    <table class="table table-hover" style="height: 100%">
      <thead class="thead-default">
        <tr>
          <th>On</th>
          <th>Off</th>
        </tr>
      </thead>
      <tbody style="height: 100%">
        <tr ng-repeat="item in outlets">
          <td class="vert-align">
              <button class="btn btn-success btn-block" style="font-size: 100px; display: block; height: 100%" type="button" ng-bind="item.id" ng-click="pressButton(item.id,'on')"></button>
          </td>
          <td class="vert-align">
              <button class="btn btn-warning btn-block" style="font-size: 100px; display: block; height: 100%" type="button" ng-bind="item.id" ng-click="pressButton(item.id,'off')"></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</body>

</html>
